<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="Homepage" content="width=device-width, initial-scale:1.0">
		<!-- <base href="C:/Users/Angel%20Diaday/OneDrive/Desktop/ICT%20V/"> -->
		<base href="http://www.equakeknows.c1.biz//">
		<link rel="icon" type="image/icon type" href="Images/Logo.png">
		<title>EKnows</title>
		<link rel="stylesheet" href="styles.css">
	</head>
		<div class="bgmenu">
			<a href="index.html" class="menutext"> Home </a> &nbsp; &nbsp;
			<a href="Definition.html" class="menutext"> Earthquakes </a> &nbsp; &nbsp;
			<a href="History.html" class="menutext"> History and Trivias </a> &nbsp; &nbsp;
			<a href="Contact.html" class="menutext"> Contact </a> &nbsp; &nbsp;
			<a href="About.html" class="menutext"> About Us</a> &nbsp; &nbsp;
		</div>
		<div style="background-color: #111114; height: 100px;">
			<img
				class="logo"
				src="Images/Logo.png"
				alt="EKnows"
				height="70px"
				align="middle">
		</div>
	<body>
		<div class="box1-About">
			<div class="description1-About">
				<h3>About the Author</h3>
				<p class="divider-About"></p>
			</div>

	
			<div class="image-About">
				<img 
					class="image-About" 
					src="Images/Author.png"
					height="200px">
			</div>

			<div class="text-About">
				<h5>Ms. Angel Ann Diaday is a student from the Technological University of the Philippines - Cavite Campus, who is taking up Bachelor of Science in Industrial Education, Major in Informations and Communication Technology. This website is inspired from the happenings in the year 2020 - 2021, where some provinces in the Philippines are experiencing earthquake. It gives information to the public through social media. This website is currently under editing.</h5>
				<a class="text-About" href="mailto:angelann.diaday@gsfe.tupcavite.edu.ph" target="_blank"><h5><u>Clarifications? Send your email here</u></h5></a>
			</div>
		</div>

		<div class="saying-About">
				<h5><i>"It is very important to know these type of information since we are living near the Pacific Ring of Fire where such many calamities and disaster are actively happen near the countries located in it."</i></h5>

				<h5>- Angel Diaday</h5>
				<h6>Creator of this page, EQKnows</h6>
		</div>
	</body>
</html>