{%extends 'navigation.html'%}
{%block content%}
{%load static%}
		<div class="aside_content2">
			<h4>Trivia</h4>
				<a href="{% url 'sixfacts/' %}" class="aside_content20">• Six Facts about Earthquakes</a>		
				<a href="{% url 'tenpowerful/' %}" class="aside_content20">• Ten Most Powerful Earthquakes in the Earth History</a>		
				<a href="{% url 'tendeadliest/' %}" class="aside_content20">• Ten Deadliest Earthquake</a>		

			&nbsp;

			<h4>History</h4>
				<a href="{% url 'historyearthquake/' %}" class="aside_content20">• A History of Earthquakes in the Philippines</a>		
				<a href="{% url 'tenstrongest/' %}" class="aside_content20">• Top Ten Strongest Earthquake to hit the Philippines</a>
			<a href="{% url 'eightcities/' %}" class="aside_content20">• Top Eight Most Disaster Prone Cities in Philippines</a>
		</div>
		<aside class="box2">
			<div class="description2">
				<h2>Ten Most Powerful Earthquake in Earth History</h2>
	
			<div class="divider2"></div>
			<div class="name2">
				<h3>• Assam-Tibet Earthquake (1950) - 8.6 Magnitude</h3>
			</div>

			<div>
				<img 
					class="image2" 
					src="{% static 'Images/Assam-Tibet.webp'%}"
					height="310px"
					width="350px">
			</div>

			<div class="meaning-Assam_Tibet">
				 
				 <h5>Date: August 15, 1950</h5>
				 <h5>Time: 14:09 UTC (19:39 in local time)</h5>
				 <h5>Epicenter: 20 miles beneath the town of Rami in Tibet, India</h5>
				 <h5>Summary of Damages:1,500 to 3,000 people died as a result of the quake. After the earthquake, a large landslide blocked the Subansiri River. The landslide broke several villages were flooded, and  536 people were killed. The earthquake also created about five million homeless people.</h5>
			</div>

			<div class ="symbol1-Assam_Tibet">
				<a href="{% url 'sumatra/' %}" class="symbol1-Assam_Tibet"><b> ◄ Back </b></a>
			</div>

			<div class="symbol2-Assam_Tibet">
				<a href="{% url 'ratislands/' %}" class="symbol2-Assam_Tibet"><b> Next ► </b></a>
			</div>
			</div>		
		</aside>
{%endblock%}