{%extends 'navigation.html'%}
{%block content%}
{%load static%}
		<div class="aside_content2">
			<h4>Trivia</h4>
				<a href="{% url 'sixfacts/' %}" class="aside_content20">• Six Facts about Earthquakes</a>		
				<a href="{% url 'tenpowerful/' %}" class="aside_content20">• Ten Most Powerful Earthquakes in the Earth History</a>		
				<a href="{% url 'tendeadliest/' %}" class="aside_content20">• Ten Deadliest Earthquake</a>		

			&nbsp;

			<h4>History</h4>
				<a href="{% url 'historyearthquake/' %}" class="aside_content20">• A History of Earthquakes in the Philippines</a>		
				<a href="{% url 'tenstrongest/' %}" class="aside_content20">• Top Ten Strongest Earthquake to hit the Philippines</a>
			<a href="{% url 'eightcities/' %}" class="aside_content20">• Top Eight Most Disaster Prone Cities in Philippines</a>
		</div>

		<aside class="box2">
			<div class="description2">
				<h2>Top Ten Strongest Earthquake to hit the Philippines</h2>
	
			<div class="divider2"></div>
			<div class="name2">
				<h3>• 2012: Magnitude 6.9 in Central Visayas</h3>
			</div>

			<div>
				<img 
					class="image2" 
					src="{% static 'Images/CVisayas.webp'%}"
					height="310px"
					width="350px">
			</div>

			<div class="meaning-Magnitude69">
				<h5>Date and Time: February 6, 2012, 11:49 AM PST</h5>
				<h5>Epicenter: Tayasan, Negros Oriental</h5>
				<h5>Description: It has depth of ten kilometers. Has the latitude of 9.97° north and 123.14° east. Butuan and Cagayan de Oro are under Intensity III despite how far it is to the epicenter.</h5>
				<h5>Damages: PHIVOLCS (Philippine Volcanology and Seismology) alerted the people of Negros for the Tsunami Level Alert II. 52 people died and 29 were buried 30 feet under. Seven bridges were damaged and some infrastructures has light damages.</h5>
			</div>

			<div class ="symbol1-Magnitude69">
				<a href="{% url 'mindoro7.1/' %}" class="symbol1-Magnitude69"><b> ◄ Back </b></a>
			</div>

			<div class="symbol2-Magnitude69">
				<a href="{% url 'smindanao7.5/' %}" class="symbol2-Magnitude69"><b> Next ► </b></a>
			</div>
			</div>		
		</aside>
{%endblock%}	