{%extends 'navigation.html'%}
{%block content%}
{%load static%}
	<div class="aside_content1">
			<h4>Earthquakes</h4>
			<ul><a href="{% url 'definition/' %}" class="aside_content10">Definition</a></ul>
			<ul><a href="{% url 'earthquaketypes/' %}" class="aside_content10">Types&nbsp;of&nbsp;Earthquakes</a></ul>
			<ul><a href="{% url 'plateboundaries/' %}" class="aside_content10">Types&nbsp;of&nbsp;Plate&nbsp;Boundaries</a></ul>
			<ul><a href="{% url 'measurements/' %}" class="aside_content10">How&nbsp;do&nbsp;we&nbsp;measure&nbsp;earthquake?</a></ul>

			&nbsp;

			<h4>Parts&nbsp;of&nbsp;an&nbsp;Earthquake</h4>
			<ul><a href="{% url 'focusepicenter/' %}" class="aside_content10">Focus&nbsp;and&nbsp;Epicenter</a></ul>
			<ul><a href="{% url 'faultline/' %}" class="aside_content10">Fault&nbsp;Line</a></ul>

			&nbsp;

			<h4>Earthquake&nbsp;Hazards</h4>
			
			<ul><a href="{% url 'surfacefaulting/' %}" class="aside_content10">Surface&nbsp;Rupture</a></ul>
			<ul><a href="{% url 'groundshaking/' %}" class="aside_content10">Ground&nbsp;Shaking</a></ul>
			<ul><a href="{% url 'landslide/' %}" class="aside_content10">Landslide</a></ul>
			<ul><a href="{% url 'tectonicdeform/' %}"class="aside_content10">Tectonic&nbsp;Deformation</a></ul>
			<ul><a href="{% url 'tsunami/' %}" class="aside_content10">Tsunami </a></ul>

		</div>
		
		<aside class="box1">
			<div class="description0">
				<h2>What is an Earthquake</h2>
			</div>

			<div class="divider1" class="image-Definition">
				<img 
					class="image-Definition" 
					src="{% static 'Images/H2.webp'%}"
					height="410px"
					width="450px">
			</div>

			<div class="meaning-Definition">
				 
				 <h5>Earthquake is a sudden shake of the ground that is caused by the seismic waves. It happens when the two blocks of the tectonic plates is suddenly slip past one another.</h5>

				<h5>Earthquake also can feel the foreshocks. These are smaller earthquakes that happens in the same place as the larger earthquake that follows.</h5>

				<h5>Seismologist cannott tell that an earthquake is a foreshock until the larger earthquake happens. Mainshock are the main earthquake where the aftershock follows.</h5>

				<h5>Approximately, 50,000 earthquakes are large enough to be perceived without the help of instruments that occurs every year. 100 of these are large enough to cause significant damage if their centers are near residential areas.</h5>

				<h5>The earth's major earthquake occurs mainly in the margins of the tectonic plates. This is apparent from early catalogs of felt earthquakes that is instrumentally measured and can determined the epicenter.</h5>

			</div>
		</aside>
{%endblock%}