{%extends 'navigation.html'%}
{%block content%}
{%load static%}
		<div class="aside_content3">
			<h4>What should we do when a earthquake occurs?</h4>
			<ul><a href="{% url 'before/' %}" class="aside_content30">Before</a></ul>
			<ul><a href="{% url 'during/' %}" class="aside_content30">During</a></ul>
			<ul><a href="{% url 'after/' %}" class="aside_content30">After</a></ul>

			

			<h4>What kind of essential needs should I bring?</h4>
			<ul><a href="{% url 'ekit/' %}" class="aside_content30">Emergency Kit</a></ul>
			<ul><a href="{% url 'aidkit/' %}" class="aside_content30">First Aid Kit</a></ul>

			

			<h4>Government departments that is suppposed to be in charge of disaster</h4>
			<ul><a href="{% url 'ndrrmc/' %}" class="aside_content30">NDRRMC</a></ul>
			<ul><a href="{% url 'pagasa/' %}" class="aside_content30">PAGASA</a></ul>
			<ul><a href="{% url 'phivolcs/' %}" class="aside_content30">PHIVOLCS</a></ul>
			<ul><a href="{% url 'denr/' %}" class="aside_content30">DENR</a></ul>
			<ul><a href="{% url 'dost/' %}" class="aside_content30">DOST</a></ul>
			<ul><a href="{% url 'afp/' %}" class="aside_content30">AFP</a></ul>
		</div>
		<aside class="box3">
			<div class="image-DENR">
				<img 
					class="image-DENR" 
					src="{% static 'Images/DENR.webp'%}"
					height="260px"
					width="300px">
			</div>
			<div class="meaning1">
				 <h5>Department of Environment and Natural Resources<hr></h5>
			</div>
				
			<div class=text1-DENR>
				<h5>Date Founded: January 1, 1917</h5>
				<h5>Executive Director: Sec. Roy A. Cimatu</h5>
				<h5>Headquarters: Visayas Avenue, Diliman, Quezon City</h5>
				<h5>Hotlines:(02)-8920-0689/8925-8275; VOIP:(02)8249-3367; Hotline: 0917-868-3367</h5>
				<h5>Website: <a href="https://www.denr.gov.ph/" target="_blank">https://www.denr.gov.ph/</a></h5>
			</div>

			<div class="text2-DENR">
				<h5>DENR is responsible for the management and development of the country's environment and natural resources. They also encouraging everyone to practice the earthquake drill. The DENR Disaster Risk Reduction Management Team (DRRMT) led the earthquake drill activity during the Nationwide Simultaneous Drill (NSED)</h5>

				<h5>Last November 2019, DENR urged all LGU (Local Government Units) to use geological hazerds that distributed by the national government to strengthen their disaster preparedness and management. It was proven to the successive powerful earthquakes being experienced in Mindanao. DENR Secretary Roy A. Cimutu said that using this maps, it takes notes of areas that can declared as a highly susceptible for flooding and landslides and he warned for the continuous aftershocks that may occur. Nowadays, 1,618 municipalities in the Philippines are now covered by using the geohazard mapping program.</h5>
			</div>
		</aside>
{%endblock%}