{%extends 'navigation.html'%}
{%block content%}
{%load static%}
		<div class="aside_content2">
			<h4>Trivia</h4>
				<a href="{% url 'sixfacts/' %}" class="aside_content20">• Six Facts about Earthquakes</a>		
				<a href="{% url 'tenpowerful/' %}" class="aside_content20">• Ten Most Powerful Earthquakes in the Earth History</a>		
				<a href="{% url 'tendeadliest/' %}" class="aside_content20">• Ten Deadliest Earthquake</a>		

			&nbsp;

			<h4>History</h4>
				<a href="{% url 'historyearthquake/' %}" class="aside_content20">• A History of Earthquakes in the Philippines</a>		
				<a href="{% url 'tenstrongest/' %}" class="aside_content20">• Top Ten Strongest Earthquake to hit the Philippines</a>
			<a href="{% url 'eightcities/' %}" class="aside_content20">• Top Eight Most Disaster Prone Cities in Philippines</a>
		</div>

		<aside class="box2">
			<div class="description2">
				<h2>Top Ten Strongest Earthquake to hit the Philippines</h2>
	
			<div class="divider2"></div>
			<div class="name2">
				<h3>• 2012: Magnitude 7.6 near Eastern Samar</h3>
			</div>

			<div>
				<img 
					class="image2" 
					src="{% static 'Images/ESamar.webp'%}"
					height="310px"
					width="350px">
			</div>

			<div class="meaning-Magnitude76">
				<h5>Date and Time: August 31,2012, 12:47 AM PST</h5>
				<h5>Epicenter: 93 kilometers east of Sulangan, Eastern Samar</h5>
				<h5>Description: Since the earthquake is far from the coast, it cause less damage than the other earthquakes. Also, there is no major tsunami occured within the area, but only a high tide.</h5>
				<h5>Damages: As there is no tsunami, it has only one person died and two injured people inside their house. 110 total houses are damaged, 78 are totally wrecked and 32 were partially damaged.</h5>
			</div>

			<div class ="symbol-Magnitude76">
				<a href="{% url 'ilocos/' %}" class="symbol-Magnitude76"><b> ◄ Back </b></a>
			</div>
			</div>		
		</aside>
{%endblock%} 	