{%extends 'navigation.html'%}
{%block content%}
{%load static%}
		<div class="aside_content1">
			<h4>Earthquakes</h4>
			<ul><a href="{% url 'definition/' %}" class="aside_content10">Definition</a></ul>
			<ul><a href="{% url 'earthquaketypes/' %}" class="aside_content10">Types&nbsp;of&nbsp;Earthquakes</a></ul>
			<ul><a href="{% url 'plateboundaries/' %}" class="aside_content10">Types&nbsp;of&nbsp;Plate&nbsp;Boundaries</a></ul>
			<ul><a href="{% url 'measurements/' %}" class="aside_content10">How&nbsp;do&nbsp;we&nbsp;measure&nbsp;earthquake?</a></ul>

			&nbsp;

			<h4>Parts&nbsp;of&nbsp;an&nbsp;Earthquake</h4>
			<ul><a href="{% url 'focusepicenter/' %}" class="aside_content10">Focus&nbsp;and&nbsp;Epicenter</a></ul>
			<ul><a href="{% url 'faultline/' %}" class="aside_content10">Fault&nbsp;Line</a></ul>

			&nbsp;

			<h4>Earthquake&nbsp;Hazards</h4>
			
			<ul><a href="{% url 'surfacefaulting/' %}" class="aside_content10">Surface&nbsp;Rupture</a></ul>
			<ul><a href="{% url 'groundshaking/' %}" class="aside_content10">Ground&nbsp;Shaking</a></ul>
			<ul><a href="{% url 'landslide/' %}" class="aside_content10">Landslide</a></ul>
			<ul><a href="{% url 'tectonicdeform/' %}" class="aside_content10">Tectonic&nbsp;Deformation</a></ul>
			<ul><a href="{% url 'tsunami/' %}" class="aside_content10">Tsunami </a></ul>

		</div>
	
		<aside class="box1">
			<div class="description0">
				<h2>Ground Shaking</h2>
			</div>

			<div class="divider1" class="image-Definition">
				<img 
					class="image-Definition" 
					src="{% static 'Images/Groundshaking.webp'%}"
					height="410px"
					width="460px">
			</div>

			<div class="meaning-Definition">
				 
				 <h5>Second hazard is the ground shaking. Ground shaking is a result of rapid ground motion acceleration. It can vary across regions based on different factors such as topography, rock types, and the location.</h5>
				
				<h5>Ground displacement refers to how much the surface of the earth moves in the event of the earthquake. It causes the ground to reposition both horizontally and vertically and move relatively to a nearby objects or land areas.</h5>

				<h5>Ground velocity is a measure of the speed at which the ground moves. The speed and direction of the ground moves from original location to its new location.</h5>

				<h5>Ground acceleration is a measure of how fast the ground speed changes during an earthquake. It is the cause of the classic seismic vibration effect, where the ground quickly changes direction with vigorous back and forth and up and down movements.</h5>
			</div>	
		</aside>
{%endblock%}