{%extends 'navigation.html'%}
{%block content%}
{%load static%}
		<div class="aside_content2">
			<h4>Trivia</h4>
				<a href="{% url 'sixfacts/' %}" class="aside_content20">• Six Facts about Earthquakes</a>		
				<a href="{% url 'tenpowerful/' %}" class="aside_content20">• Ten Most Powerful Earthquakes in the Earth History</a>		
				<a href="{% url 'tendeadliest/' %}" class="aside_content20">• Ten Deadliest Earthquake</a>		

			&nbsp;

			<h4>History</h4>
				<a href="{% url 'historyearthquake/' %}" class="aside_content20">• A History of Earthquakes in the Philippines</a>		
				<a href="{% url 'tenstrongest/' %}" class="aside_content20">• Top Ten Strongest Earthquake to hit the Philippines</a>
			<a href="{% url 'eightcities/' %}" class="aside_content20">• Top Eight Most Disaster Prone Cities in Philippines</a>
		</div>
		<aside class="box2">
			<div class="description3">
				<h2>Ten Deadliest Earthquake</h2>
	
			<div class="divider2"></div>
			<div class="name2">
				<h3>• 2004: Indian, Ocean</h3>
			</div>

			<div  class="image2">
				<img 
					class="image2" 
					src="{% static 'Images/IOcean.webp'%}"
					height="310px"
					width="350px">
			</div>

			<div class="meaning-2004-Indian">
				 
				 <h5>Date: December 26, 2004</h5>
				 <h5>Time: 07:58 AM in local time</h5>
				 <h5>Epicenter: West coast of Sumatra, India</h5>
				 <h5>Magnitude: 9.1 </h5>
				 <h5>Summary of Damages: The tsunami severely damaged the Indonesia and its neighboring countries, killing atleast 225,000 people.</h5>
			</div>

			<div class ="symbol1-2004-Indian">
				<a href="{% url 'tangshan/' %}" class="symbol1-2004-Indian"><b> ◄ Back</b></a>
			</div>

			<div class="symbol2-2004-Indian">
				<a href="{% url 'haiyuan/' %}" class="symbol2-2004-Indian"><b> Next ► </b></a>
			</div>
			</div>		
		</aside>
{%endblock%}