{%extends 'navigation.html'%}
{%block content%}
{%load static%}
		<div class="aside_content2">
			<h4>Trivia</h4>
				<a href="{% url 'sixfacts/' %}" class="aside_content20">• Six Facts about Earthquakes</a>		
				<a href="{% url 'tenpowerful/' %}" class="aside_content20">• Ten Most Powerful Earthquakes in the Earth History</a>		
				<a href="{% url 'tendeadliest/' %}" class="aside_content20">• Ten Deadliest Earthquake</a>		

			&nbsp;

			<h4>History</h4>
				<a href="{% url 'historyearthquake/' %}" class="aside_content20">• A History of Earthquakes in the Philippines</a>		
				<a href="{% url 'tenstrongest/' %}" class="aside_content20">• Top Ten Strongest Earthquake to hit the Philippines</a>
			<a href="{% url 'eightcities/' %}" class="aside_content20">• Top Eight Most Disaster Prone Cities in Philippines</a>
		</div>
		<aside class="box2">
			<div class="description2">
				<h2>Top Ten Strongest Earthquake to hit the Philippines</h2>
	
			<div class="divider2"></div>
			<div class="name2">
				<h3>• 1645: Magnitude 7.5 in Luzon</h3>
			</div>

			<div>
				<img 
					class="image2" 
					src="{% static 'Images/Luzon1.webp'%}"
					height="310px"
					width="350px">
			</div>

			<div class="meaning-Magnitude75">
				<h5>Date and Time: November 30, 1645, 8:00 PM PST</h5>
				<h5>Epicenter: Produced by the San Manuel and Gabaldon Faults in Nueva Ecija</h5>
				<h5>Description: It is one of the most destructive earthquake since the Spanish regime. Manila was in totally wrecked were the bodies were buried under the ruins.</h5>
				<h5>Damages: 600 Spanish people were killed, and 3,000 Spanish people were injured. Manila was entirely damaged especially the newly constructed cathedrals, and residential villas are being crumpled into pieces.</h5>
			</div>

			<div class ="symbol1-Magnitude75">
				<a href="{% url 'cluzon7.8/' %}" class="symbol1-Magnitude75"><b> ◄ Back </b></a>
			</div>

			<div class="symbol2-Magnitude75">
				<a href="{% url 'casiguran7.3/' %}" class="symbol2-Magnitude75"><b> Next ► </b></a>
			</div>
			</div>		
		</aside>
{%endblock%} 	