{%extends 'navigation.html'%}
{%block content%}
{%load static%}
		<div class="aside_content2">
			<h4>Trivia</h4>
				<a href="{% url 'sixfacts/' %}" class="aside_content20">• Six Facts about Earthquakes</a>		
				<a href="{% url 'tenpowerful/' %}" class="aside_content20">• Ten Most Powerful Earthquakes in the Earth History</a>		
				<a href="{% url 'tendeadliest/' %}" class="aside_content20">• Ten Deadliest Earthquake</a>		

			&nbsp;

			<h4>History</h4>
				<a href="{% url 'historyearthquake/' %}" class="aside_content20">• A History of Earthquakes in the Philippines</a>		
				<a href="{% url 'tenstrongest/' %}" class="aside_content20">• Top Ten Strongest Earthquake to hit the Philippines</a>
			<a href="{% url 'eightcities/' %}" class="aside_content20">• Top Eight Most Disaster Prone Cities in Philippines</a>
		</div>

		<aside class="box2">
			<div class="description4">
				<h2>A History of Earthquake in the Philippines</h2>
	
			<div class="divider2"></div>
			<div class="name2">
				<h3>• 1976 Moro Gulf Earthquake</h3>
			</div>

			<div  class="image3">
				<img 
					class="image3" 
					src="{% static 'Images/Moro.webp'%}"
					height="310px"
					width="350px">
			</div>

			<div class="meaning-1976-Moro_Gulf">
				 
				 <h5>Date: August 17, 1976</h5>
				 <h5>Time: 16:11 UTC (00:11 PST) </h5>
				 <h5>Epicenter: 60 miles offshore from Cotabato City</h5>
				 <h5>Magnitude: 7.9  </h5>
				 <h5>Summary of Damages: A tsunami occured after the earthquake that almost 8,000 people died and injured. Some of them went missing. Buildings and infrastructures have severe damages including the schools, hotels, churches and theaters.</h5>
			</div>

			<div class ="symbol1-1976-Moro_Gulf">
				<a href="{% url 'casiguran/' %}" class="symbol1-1976-Moro_Gulf"><b> ◄ Back</b></a>
			</div>

			<div class="symbol2-1976-Moro_Gulf">
				<a href="{% url 'bohol/' %}" class="symbol2-1976-Moro_Gulf"><b> Next ► </b></a>
			</div>
			</div>		
		</aside>
{%endblock%}