{%extends 'navigation.html'%}
{%block content%}
{%load static%}
		<div class="aside_content2">
			<h4>Trivia</h4>
				<a href="{% url 'sixfacts/' %}" class="aside_content20">• Six Facts about Earthquakes</a>		
				<a href="{% url 'tenpowerful/' %}" class="aside_content20">• Ten Most Powerful Earthquakes in the Earth History</a>		
				<a href="{% url 'tendeadliest/' %}" class="aside_content20">• Ten Deadliest Earthquake</a>		

			&nbsp;

			<h4>History</h4>
				<a href="{% url 'historyearthquake/' %}" class="aside_content20">• A History of Earthquakes in the Philippines</a>		
				<a href="{% url 'tenstrongest/' %}" class="aside_content20">• Top Ten Strongest Earthquake to hit the Philippines</a>
			<a href="{% url 'eightcities/' %}" class="aside_content20">• Top Eight Most Disaster Prone Cities in Philippines</a>
		</div>
		<aside class="box2">
			<div class="description2">
				<h2>Top Ten Strongest Earthquake to hit the Philippines</h2>
	
			<div class="divider2"></div>
			<div class="name2">
				<h3>• 2002: Magnitude 7.5 in Southern Mindanao</h3>
			</div>

			<div>
				<img 
					class="image2" 
					src="{% static 'Images/SMindanao.webp'%}"
					height="310px"
					width="350px">
			</div>

			<div class="meaning-Magnitude7">
				<h5>Date and Time: March 6, 2002, 5:15 AM PST</h5>
				<h5>Epicenter: 81 kilometers of Isulan, Sultan Kudarat</h5>
				<h5>Description: The ground shaking intensifies at different provinces. Highest intensity were in Palimbang, Sultan Kundarat which is under Intensity IX. Meanwhile, Maltum Saranggani and Lebak, Sultan Kudarat are under Intensity VIII.</h5>
				<h5>Damages: 7,684 families were affected under the four provinces, and 17 municipalities. Eight people died and 41 are injured. Seven bridges, two health centers are destroyed with the total of 4.175 million pesos.</h5>
			</div>

			<div class ="symbol1-Magnitude7">
				<a href="{% url 'cvisayas/' %}" class="symbol1-Magnitude7"><b> ◄ Back </b></a>
			</div>

			<div class="symbol2-Magnitude7">
				<a href="{% url 'ilocos/' %}" class="symbol2-Magnitude7"><b> Next ► </b></a>
			</div>
			</div>		
		</aside>
{%endblock%}	