{%extends 'navigation.html'%}
{%block content%}
{%load static%}
		<div class="aside_content2">
			<h4>Trivia</h4>
				<a href="{% url 'sixfacts/' %}" class="aside_content20">• Six Facts about Earthquakes</a>		
				<a href="{% url 'tenpowerful/' %}" class="aside_content20">• Ten Most Powerful Earthquakes in the Earth History</a>		
				<a href="{% url 'tendeadliest/' %}" class="aside_content20">• Ten Deadliest Earthquake</a>		

			&nbsp;

			<h4>History</h4>
				<a href="{% url 'historyearthquake/' %}" class="aside_content20">• A History of Earthquakes in the Philippines</a>		
				<a href="{% url 'tenstrongest/' %}" class="aside_content20">• Top Ten Strongest Earthquake to hit the Philippines</a>
			<a href="{% url 'eightcities/' %}" class="aside_content20">• Top Eight Most Disaster Prone Cities in Philippines</a>
		</div>
		<aside class="box-Ten-Deadliest">
			<div class="description-Ten-Deadliest">
				<h2>Ten Deadliest Earthquake</h2>
			</div>

			<div>
				<img 
					class="image-Ten-Deadliest"
					src="{% static 'Images/H7.webp'%}"
					height="410px"
					width="390px">
			</div>
	
			<div class="divider-Ten-Deadliest" class="name-Ten-Deadliest">
				<a href="{% url 'shaanxi/' %}"class="name-Ten-Deadliest">• 1556: Shaanxi, China</a>
				<a href="{% url 'tangshan/' %}" class="name-Ten-Deadliest">• 1976: Tangshan, China</a>
				<a href="{% url 'indianocean/' %}" class="name-Ten-Deadliest">• 2004: Indian, Ocean </a>
				<a href="{% url 'haiyuan/' %}" class="name-Ten-Deadliest">• 1920: Haiyuan, China</a>
				<a href="{% url 'kanto/' %}" class="name-Ten-Deadliest">• 1923: Kanto, Japan</a>
				<a href="{% url 'turkmenistan/' %}" class="name-Ten-Deadliest">• 1948: Turkmenistan</a>
				<a href="{% url 'sichuan/' %}" class="name-Ten-Deadliest">• 2008: Sichuan, China</a>
				<a href="{% url 'kashmir/' %}" class="name-Ten-Deadliest">• 2005: Kashmir, Pakistan</a>
				<a href="{% url 'messina/' %}" class="name-Ten-Deadliest">• 1908: Messina, Italy</a>
				<a href="{% url 'chimbote/' %}" class="name-Ten-Deadliest">• 1970: Chimbote, Peru</a>
			</div>
		</aside>
{%endblock%}